<!--Top Navigation Bar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-sharp fa-solid fa-ghost" style="color: #a93eda;"></i>IBM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home"> <i class="fa-solid fa-house-fire fa-lg" style="color: #20511f;"> </i> Home</a>

          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about"><i class="fa-sharp fa-solid fa-user" style="color: #dd4c3c;"></i> About Me </a>
            
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/contact"><i class="fa-sharp fa-regular fa-envelope" style="color: #35dec2;"></i>Contact</a>
            
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/project"><i class="fa-sharp fa-solid fa-folder fa-xs" style="color: #a1bbe8;"></i>Project</a>
            
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/service"><i class="fa-sharp fa-solid fa-bell-concierge fa-xs" style="color: #4ac0de;"></i>Service</a>
            
          </li>
         
      </div>
    </div>
  </nav>